# Tragedy

Tragedy is a powerful Python abstraction-layer for Cassandra.

Out of the box it supports
    *    Models
    *    Time-Sorted-Indexes
    *    Mirroring
    *    Foreign Key Relationships
    *    and Server-Validation of Models.

## Example (twitter-demo)

